# Dependencies
node_modules/
**/node_modules/

# Build files
dist/
**/dist/

# Database files
*.sqlite
*.sqlite-journal

# IDE & OS files
.vscode/
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
